[submodule "dependencies/diligence"]
	path = dependencies/diligence
	url = git@github.com:inseven/diligence.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "dependencies/interact"]
	path = dependencies/interact
	url = git@github.com:inseven/interact.git
[submodule "docs/_theme"]
	path = docs/_theme
	url = https://github.com/jbmorley/showcase-theme.git
